body{
    margin: 0;
    padding: 0;
    font-size: 16pt; 
    font-family: 'Roboto', sans-serif;
    color: white;
    background-image: url("../images/blackbg.jpg");
    
  }
  header, footer{
    display: flex;
    flex-direction: column;
    background-color: beige;
    align-items: center;
    justify-content: center;
    color: black;
  
  }
 h1, h2{
    text-align:center;
  }
  .container > h2{
    color: white;
  }
  .nav > ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .nav > ul >li > a{
    color: black;
    text-decoration: none;
  }
  .nav > ul >li > a.current{
    color: white;
    background:  brown;
    text-decoration: wavy underline;
 }
 .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
 }
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column > ul {
  list-style-type: none;
}
.column > ul > li {
  margin: 0 0 60px 0;
}
.column1 {
    background-color: #011f4b;
}
.column2 {
    background-color:#03396c;
}
.column3 {
    background-color: #005b96;
}
.gallery{
    /* min-height: 300px; */
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
    padding: 2rem;
    grid-auto-flow: dense; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    
  }
  img {
    width: 300px; /*set the width or max-width*/
    height: auto; /*this makes sure to maintain the aspect ratio*/
    border: 3px solid blue;
    padding: 25px;
    border-radius: 10px;
    background-color: lightblue;
}
  .gallery > .gallery_list
  {
    list-style-type: none;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: dense;
  }
  .index_gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
  }
  .skip a {
    background: white;
    left: 0;
    padding: 7px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -50px;
  }
  .skip a:focus {
    position: absolute;
    top: 10px;
  }
  .container > ol >li {
    margin: 0 0 30px 0;
  }
  /* .gallery > .gallery_list > li:nth-child(4n) {
    grid-column: span 2;
    grid-row: span 2;
  }
  */
  /* .gallery > .gallery_list > li:nth-child(8n) {
    grid-column: span 3;
    grid-row: span 3;
  }  */
  #try {
    /*Your code here.*/
    animation-name: logo_grow;
    animation-duration: 5s;
    animation-iteration-count: 1;
 }
 @keyframes logo_grow{
  /*Your code here.*/
  0% {opacity:0;}
  100% {opacity:1;}
  

}
  @media (prefers-reduced-motion) {
    .skip a {
      animation: none;
    }
    #try {
      animation: none;
    }
  }
  @media 
  (min-device-width: 768px) 
  and (max-device-width: 1280px) {
    .skip a {
      background: white;
      left: 0;
      padding: 7px;
      -webkit-transition: top 1s ease-out;
      transition: top 1s ease-out;
      z-index: 1;
      position: absolute;
      top: -50px;
    }
    
    .skip a:focus {
      position: absolute;
      top: 10px;
    }
    .nav > ul{
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .gallery > .gallery_list
  {
    list-style-type: none;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: dense;
  align-items: center;
  }
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
}